<template>
  <div>
    <div class="flex flex-center" v-if="loading">
      <q-spinner-ball size="25%" />
    </div>
    <q-card v-else v-ripple class="cursor-pointer q-hoverable">
      <!-- Flags et Ribbons -->
      <xp-flag v-if="progress.xp" :xp="progress.xp" color="secondary" text-color="dark" :done="progress.done" left="30px" />
      <xp-flag v-else :xp="progress.xp || adventure.data.xp" :done="progress.done" left="30px" />
      <corner-ribbon v-if="progress.done" text="Terminée" color="positive" />
      <corner-ribbon v-else-if="progress.xp != unset" text="En cours" color="secondary" text-color="dark" />
      <corner-ribbon v-else-if="adventure.data.in_progress" width="200" text="En préparation" color="accent" text-color="cream" />
      <!-- Image -->
      <q-img :ratio="16/9" :src="adventure.data.cover_image_url" >
        <q-skeleton v-if="!adventure.data.cover_image_url" class="fit" style="z-index:0;" square />
      </q-img>
      <!-- Texte -->
      <q-card-section class="bg-primary text-dark q-pa-sm text-center" style="min-height:150px">
        <div v-if="!adventure.official" class="absolute-bottom-right q-ma-xs" >
          <user-avatar size="24px" v-for="u in adventure.owners" :key="u.id" :user="u"/>
        </div>
        <q-chip square dense size="sm" color="yellow-3" text-color="orange-10" class="q-ma-none q-mr-sm text-subtitle1" v-for="t in adventure.data.tags" :key="t" >{{ t }}</q-chip>
        <div class="text-h6">{{ adventure.name || "Aventure sans nom" }}</div>
        <div class="text-subtitle2">
          <mark-down :content="adventure.description" />
        </div>
      </q-card-section>
      <!-- Barre de progression -->
      <div v-if="progress.done" class="row" >
        <q-linear-progress class="col" :value="progress.xp_main / adventure.data.xp_main" :color="progress.done ? 'positive' : 'secondary'" size="12px" />
        <q-linear-progress class="col" :value="progress.xp_side / adventure.data.xp_side" :color="progress.done ? 'positive' : 'secondary'" size="12px" />
      </div>
      <div v-else-if="progress.xp != undef" class="row" >
        <q-linear-progress class="col" :value="progress.xp / adventure.data.xp" color="secondary" size="12px" />
      </div>
      <div v-else class="bg-primary" style="height: 12px" ></div>
      <!-- Infos -->
      <q-card-section class="col-12 bg-accent">
        <div class="">
          <div class="text-caption" v-if="progress.xp != undef">
            {{ progress.steps.filter(p => p.done).length}} / {{ adventure.data.steps }} étapes ·
            {{ progress.quests_done}} / {{ adventure.data.quest_number }} quêtes ·
            {{ progress.xp}} / {{ adventure.data.xp }} XP
          </div>
          <div class="text-caption" v-else>
            {{ adventure.data.steps }} étapes · {{ adventure.data.quest_number }} quêtes · {{ adventure.data.xp }} XP
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script setup>
import { useAdventuresStore } from "stores/adventures"
import {ref, computed} from "vue"
import { useRouter } from "vue-router"
import _ from 'lodash'
import { useAuthStore } from "stores/auth"
import { watch } from "vue"

const props = defineProps(["id", "slug"])

const A = useAdventuresStore()
const auth = useAuthStore()

watch(() => [props.id, props.slug], () => {
  if (props.slug || props.id) A.get_adventure({id: props.id, slug: props.slug})
}, {immediate: true})

const adventure = computed(() => A.adventures.find(a => a.id == props.id || a.slug == props.slug))
const loading = computed(() => _.isEmpty(adventure.value))

const progress = computed(() => (A.user_progress[adventure.value.id] || {}).data || { })

</script>

