<template>
  <div class="flex flex-center" v-if="loading">
    <q-spinner-ball size="25%" />
  </div>
  <q-item v-else clickable @click="navigate_to"
  :class="progress.done ? 'bg-green-10' : ''"
  :active="showActive && A.adventure.id == id" active-class="bg-purple text-cream"
  >
    <div class="row col-12">
      <q-item-section avatar>
        <q-avatar round >
          <img v-if="adventure.data.cover_image_url" :src="adventure.data.cover_image_url" />
          <q-skeleton v-else type="QAvatar" />
          <q-badge v-if="adventure.data.in_progress" floating rounded color="transparent">
            <q-icon name="construction" color="primary" />
          </q-badge>
        </q-avatar>
      </q-item-section>
      <q-item-section>
        <q-item-label>
          <q-icon name="check" class="text-bold text-green-3" v-if="progress.done"/>
          {{ adventure.name }}
        </q-item-label>
        <q-item-label caption v-if="showChips">
          <stat-chip :value="progress.xp" :max="adventure.data.xp" caption="XP" color="primary" />
          <stat-chip :value="progress.quests_done" :max="adventure.data.quest_number" caption="Quêtes" color="secondary" />
          <stat-chip :value="progress.steps_done" :max="adventure.data.steps" caption="Étapes" color="accent" />
          <span v-if="progress.side_quests_remaining"> · il reste {{ progress.side_quests_remaining }} quêtes annexes</span>
        </q-item-label>
        <q-item-label caption v-if="showLinearProgress">
          <q-linear-progress :value="progress.xp / adventure.data.xp" />
        </q-item-label>
        <q-item-label caption v-if="showCaption">
          <div v-if="progress.quests_done">
            {{ progress.steps_done }} / {{ adventure.data.steps }} étapes ·
            {{ progress.quests_done }} / {{ adventure.data.quest_number }} quêtes
            <span v-if="progress.done && progress.side_quests_remaining"> · il reste {{ progress.side_quests_remaining }} quêtes annexes</span>
          </div>
          <div v-else>
            {{ adventure.data.steps }} étapes ·
            {{ adventure.data.quest_number }} quêtes
          </div>
        </q-item-label>
      </q-item-section>
      <q-item-section avatar v-if="showCircularProgress">
        <!-- Adventure done -->
        <q-circular-progress v-if="progress.done"
          :value="progress.xp" :max="adventure.data.xp" size="32px" :thickness="1"
          color="positive" track-color="green-10"
        />
        <!-- Aventure en cours -->
        <q-circular-progress v-else-if="progress.xp != undef"
          :value="progress.xp" :max="adventure.data.xp" size="32px" :thickness="1"
          color="secondary" track-color="grey"
        />
      </q-item-section>
    </div>
  </q-item>
</template>

<script setup>
import { useAdventuresStore } from "stores/adventures"
import {ref, computed} from "vue"
import { useRouter } from "vue-router"
import _ from 'lodash'
import { useAuthStore } from "stores/auth"
import { watch } from "vue"

const props = defineProps({
  id: String,
  slug: String,
  showChips: { type: Boolean, default: false},
  showCircularProgress: { type: Boolean, default: false},
  showLinearProgress: { type: Boolean, default: true},
  showCaption: { type: Boolean, default: true},
  showActive: { type: Boolean, default: true}
})

const A = useAdventuresStore()
const auth = useAuthStore()
const router = useRouter()

watch(() => [props.id, props.slug], () => {
  if (props.slug || props.id) A.get_adventure({id: props.id, slug: props.slug})
}, {immediate: true})

const adventure = computed(() => A.adventures.find(a => a.id == props.id || a.slug == props.slug))
const loading = computed(() => _.isEmpty(adventure.value))

const progress = computed(() => (A.user_progress[adventure.value.id] || {}).data || { })

const navigate_to = () => {
  if (adventure.value.slug)
    router.push({name: 'AdventuresView', params: {adventure_slug: adventure.value.slug}})
}

</script>

