<template>
  <div v-if="item">
    <q-item clickable v-ripple
    :to="{name: 'AdventuresView', params: {adventure_slug: A.adventure.slug, step: n}, state: {to_top: toTop}}" replace
    :active="n == currentStep" active-class="bg-accent text-cream text-bold" class="text-dark bg-secondary">
      <q-linear-progress v-if = "showProgress && A.adventure.progress && item.xp" :value="A.adventure.progress.steps[n].xp / item.xp" style="position:absolute; bottom: 0; left: 0;" />
      <q-item-section>
        <q-item-label>{{ n }}. {{ item.name }}</q-item-label>
        <q-item-label v-if="!showProgress || !A.adventure.progress" caption :class="n == currentStep ? '' : 'text-grey'">
          {{ item.quest_number }} quêtes · {{ item.xp }} XP
        </q-item-label>
        <q-item-label v-else caption :class="n == currentStep ? '' : 'text-grey'">
          {{A.adventure.progress.steps[n].quests_done}} / {{ item.quest_number }} quêtes ·
          {{A.adventure.progress.steps[n].xp}} / {{ item.xp }} XP
        </q-item-label>
      </q-item-section>
      <q-item-section avatar>
        <div class="q-gutter-xs">
          <q-btn v-if="editing" flat dense icon="arrow_upward" :disable="n==0" @click.stop="$emit('move_up', n)" />
          <q-btn v-if="editing" flat dense icon="arrow_downward" :disable="last" @click.stop="$emit('move_down', n)"/>
          <q-btn v-if="editing" flat dense icon="delete" @click.stop="$emit('remove', n)" :disabled="disableRemove" />
          <q-icon v-if="!editing && A.adventure.progress && A.adventure.progress.steps[n].done" name="check" />
          <q-icon v-else-if="!editing && A.adventure.progress && !A.adventure.progress.steps[n].open" name="locked" />
        </div>
      </q-item-section>
    </q-item>
  </div>
</template>

<script setup>
import { useAdventuresStore } from "stores/adventures"
import { useAuthStore } from "stores/auth"
import {ref, computed} from "vue"
import { useRouter } from "vue-router"
import _ from 'lodash'

const props = defineProps({
  item: {},
  n: {},
  currentStep: {},
  showProgress: {type: Boolean, default: false},
  editing: { type: Boolean },
  disableRemove: { type: Boolean },
  last: { type: Boolean},
  toTop: { type: Boolean, default: false} // si on doit naviger vers le haut de la page
})

defineEmits(["move_up", "move_down", "remove"])

const A = useAdventuresStore()
const auth = useAuthStore()

const loading = computed(() => {
  if (!auth.logged) return !A.adventure_loaded
  else return !A.adventure_loaded
})

</script>
