<template>
  <q-page padding class="">
    <q-card flat>
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="dashboard" label="Dashboard" icon="dashboard" />
        <q-tab name="adventures" label="Aventures" icon="hiking" />
        <q-tab name="users" label="Users" icon="people" />
        <q-tab name="logs" label="Logs" icon="list" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="dashboard">
          <div class="text-h6">Dashboard</div>
          Notifs, raccourcis
        </q-tab-panel>

        <q-tab-panel name="adventures">
          <div class="text-h6">Adventures</div>
          <q-list>
            <q-item v-for="a in adventures" :key="a.id">
              <q-item-section avatar>
                <q-avatar rounded>
                  <img :src="a.data.cover_image_url" />
                </q-avatar>
              </q-item-section>
              <q-item-section class="col-4">
                <q-item-label>{{ a.name }}</q-item-label>
                <q-item-label caption lines="1">{{ a.description }}</q-item-label>
              </q-item-section>
              <q-item-section class="col-1">
                  <user-avatar v-for="user in a.owners" :key="user.id" :user="user" size="24px" />
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  <q-chip square color="primary" text-color="dark" icon="start">{{a.logs.length}}
                    <q-tooltip anchor="top middle" self="bottom middle">Aventures démarrées</q-tooltip>
                  </q-chip>
                  <q-chip square color="positive" icon="check">{{a.logs.filter(l => l.data.done).length}}
                    <q-tooltip anchor="top middle" self="bottom middle">Aventures terminées</q-tooltip>
                  </q-chip>
                </q-item-label>
              </q-item-section>
              <q-item-section>
                  <q-btn dense square size="sm" v-if="!a.private" color="secondary" text-color="dark" icon="visibility" label="Publique" @click="adventure_toggle(a.id, 'private')"/>
                  <q-btn dense square size="sm" v-else color="primary" text-color="dark" icon="visibility_off" label="Privée" @click="adventure_toggle(a.id, 'private')"/>
                  <q-btn dense square size="sm" v-if="a.official" color="accent" icon="verified_user" label="Officielle" @click="adventure_toggle(a.id, 'official')"/>
                  <q-btn dense square size="sm" v-else color="primary" text-color="dark" icon="remove_moderator" label="Perso" @click="adventure_toggle(a.id, 'official')"/>
              </q-item-section>
              <q-item-section>
                  <q-btn disable dense square size="sm" color="negative" icon="delete" label="Supprimer" @click="adventure_toggle(a.id, 'official')"/>
              </q-item-section>
            </q-item>
          </q-list>
        </q-tab-panel>

        <q-tab-panel name="users">
          <div class="text-h6">Users</div>
          Liste, modération
        </q-tab-panel>

        <q-tab-panel name="logs">
          <div class="text-h6">Logs</div>
          Logs
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script setup>

import { useAdventuresStore } from "stores/adventures"
import { useAuthStore } from "stores/auth"
import { computed, ref } from "vue"
import { useRouter, useRoute } from 'vue-router'
import { watch } from "vue"
import { useQuasar } from 'quasar'
import _ from 'lodash'
import { SB } from "../db"

const router = useRouter()
const $q = useQuasar()

const A = useAdventuresStore()
const auth = useAuthStore()

const tab = ref('adventures')

// ADVENTURES

const adventures = ref([])
const adventures_count = ref()
const adventures_filter = ref({
  name: ""
})

const get_adventures_count = async () => {
  const { count, error } = await SB.from("lu_adventures")
  .select('id', { count: 'estimated', head: true })
  adventures_count.value = count
}
get_adventures_count()

const get_adventures = async () => {
  const { data, error } = await SB.from("lu_adventures")
  .select(`
    id, name, description, data, private,
    owners:lu_users!lu_adventures_owners (id, full_name, avatar_url),
    logs:lu_logs(data),
    admin:lu_adventures_admin(official)`)
  .is("logs.adventure_log", null)
  console.log(data, error)
  data.forEach(a => a.official = a.admin ? a.admin.official : false)
  adventures.value = data
  console.log(data)
}
get_adventures()

const adventure_toggle = async (adventure_id, prop) => {
  if (prop == "private") {
    await SB.from("lu_adventures").update({[prop]: !adventures.value.find(a => a.id == adventure_id).private})
    .eq("id", adventure_id)
    get_adventures()
  }
  if (prop == "official") {
    await SB.from("lu_adventures_admin").upsert({id: adventure_id, [prop]: !adventures.value.find(a => a.id == adventure_id).official})
    .eq("id", adventure_id)
    get_adventures()
  }
}

</script>
