<template>
  <q-page padding class="">
    <div class="flex flex-center" v-if="loading">
      <q-spinner-ball size="25%" />
    </div>
    <div v-else>
      <div class="row">
        <div class="col-xs-12 row">
          <!-- Image -->
          <q-img :ratio="16/9" v-if="adventure.data.cover_image_url" :src="adventure.data.cover_image_url" />
          <q-skeleton class="col-12" v-else height="400px" square animation="blink" />
          <!-- Titre -->
          <div v-if="!editing" class="col-12">
            <div class="gt-sm q-mt-xl text-h1 text-center">{{ adventure.name }}</div>
            <div class="lt-md q-mt-xl text-h2 text-center">{{ adventure.name }}</div>
          </div>
          <!-- Editing adventure -->
          <div v-if="editing" class="q-gutter-md col-12">
            <q-input v-model="adventure.name" label="Nom" filled class="col-12 text-h5"/>
            <q-input v-model="adventure.slug" ref="slug_ref" label="Slug" filled class="col-12"
              :rules="[
                val => val.length > 5 || 'Ce slug est trop court',
                val => val.match(/^[a-z0-9\-]+$/) || 'Le slug doit contenir uniquement des lettres minuscules, des chiffres et \'-\'',
                is_slug_unique
              ]"
              debounce="500"
              />
            <q-input v-model="adventure.data.cover_image_url" label="Url de l'image de couverture" filled />
            <!-- Tags -->
            <q-select class="col" label="Tags" filled v-model="adventure.data.tags"
              use-input use-chips multiple input-debounce="0" options-dense
              new-value-mode="add-unique" :options="A.adventure_tags"/>
            <div class="row q-gutter-md">
              <!-- En construction -->
              <q-toggle class="col" label="En construction" v-model="adventure.data.in_progress">
                <tool-tip>L'aventure sera marquée comme étant en construction.</tool-tip>
              </q-toggle>
              <!-- Non séquentiel -->
              <q-toggle class="col" label="Séquentielle" v-model="adventure.data.sequential">
                <tool-tip>Séquentielle: il faut finir une étape avant de pouvoir valider les quêtes suivantes.</tool-tip>
              </q-toggle>
            </div>
          </div>
        </div>
        <!-- ADVENTURE INFO -->
        <div class="col-xs-12 col-md-6 text-center q-mt-xl q-pa-lg row">
          <!-- Description -->
          <p class="col-12" v-if="!editing && (!$q.screen.xs || props.step < 1)">
            <mark-down :content="adventure.description" />
            <q-chip square size="sm" color="accent" text-color="white" class="q-mt-md text-subtitle1" v-for="t in adventure.data.tags" :key="t" >{{ t }}</q-chip>
          </p>
          <!-- Stats et progrès -->
          <div class="col-12 text-caption" v-if="!auth.logged || !A.adventure.progress">
            {{ adventure.steps.length }} étapes · {{ adventure.data.quest_number }} quêtes · {{ adventure.data.xp }} XP
          </div>
          <div class="col-12 text-caption" v-else>
            {{ A.adventure.progress.steps.filter(s => s.done).length }} / {{ adventure.steps.length }} étapes ·
            {{ A.adventure.progress.data.quests_done }} / {{ adventure.data.quest_number }} quêtes ·
            {{ A.adventure.progress.data.xp }} / {{ adventure.data.xp }} XP
            <q-linear-progress :value="A.adventure.progress.data.xp / adventure.data.xp" class="q-mt-md" />
          </div>
          <q-input v-if="editing" v-model="adventure.description" label="Description" filled type="textarea" class="col-12"/>
          <div class="col-xs-12 offset-xs-none col-sm-10 offset-sm-1 q-mt-md">
            <div v-if="!adventure.data.in_progress">
              <!-- Start with tuto -->
              <div class="col-12 q-pa-xl" v-if="!editing && auth.logged && !A.user_logs.length && A.adventure.slug != 'tuto-levelup'">
                <q-banner class="bg-secondary text-dark q-mb-md" >
                  <p class="text-h6">C'est ta première aventure sur LevelUP?</p>
                  <p>Peut-être que tu devrais commencer par le tuto.</p>
                  <adventure-item class="text-left bg-accent" slug="tuto-levelup" :show-linear-progress="false"/>
                </q-banner>
              </div>
              <!-- Start -->
              <q-btn v-if="auth.logged && !editing && !A.adventure.progress.started" color="primary" text-color="dark"
              label="Démarrer l'Aventure" @click="A.log_adventure_started(adventure.id)"/>
              <!-- Aventure terminée -->
              <div v-if="auth.logged && !editing && A.adventure.progress.done">
                <q-banner class="bg-accent q-mt-md" >
                  <p class="text-h4">Aventure terminée !</p>
                  <p v-if="A.adventure.progress.data.side_quests_remaining">Il reste {{ A.adventure.progress.data.side_quests_remaining }} quêtes annexes.</p>
                  <template v-slot:action>
                    <q-btn flat color="primary" label="Redémarrer l'Aventure ?" @click="A.log_adventure_started(adventure.id)"/>
                  </template>
                </q-banner>
              </div>
            </div>
            <!-- Connect -->
            <q-banner class="bg-discord q-mt-md" v-if="!auth.logged">
              Connectes-toi avec Discord <br />
              pour profiter de l'expérience complète.
              <div class="text-body2 text-center q-mt-md text-info" >
                <span @click="$q.dialog({
                  title: 'Pourquoi se connecter ?',
                  message: `
                  <p>Être connecté te permets d'intéragir avec le site: valider des quêtes, gagner des points d'expérience, des niveaux, avoir un journal d'apprentissage, etc.</p>
                  <p class='text-h6'>Pourquoi discord ?</p>
                  <p>Une partie de l'expérience consiste à échanger avec d'autres, s'encourager mutuellement, partager les trésors lootés à travers les aventures.
                    Avec LevelUp, nous vivons ça sur un serveur Discord.</p>
                  <p>Si tu ne sais pas ce que c'est: aucun problème ! L'Aventure d'introduction te guidera pas à pas.</p>`,
                  html: true
                })"><q-icon name="info" /> Pourquoi?</span>
              </div>
            </q-banner>
            <q-btn class="col-xs-12 offset-xs-none col-sm-6 offset-sm-3 q-mt-md"
            v-if="!auth.logged" color="discord" text-color="cream" label="Log in" icon="discord"
            @click="auth.signInWithDiscord()"/>
          </div>
          <!-- Edit -->
          <div class="col-12">
            <q-btn v-if="editing" class="col-9 q-mt-sm" @click="delete_adventure(adventure.id)"
            label="Supprimer cette aventure" color="negative" icon="delete" />
          </div>
        </div>
        <!-- COLONNE DE DROITE -->
        <div class="col-xs-12 col-md-6 q-mt-xl">
          <!-- Visibilité -->
          <div v-if="auth.logged && adventure.is_owner && adventure.private || editing"
            class="text-caption text-center q-ma-md">
            Visibilité:
            <q-btn :disable="!editing" :flat="!adventure.private" :outline="adventure.private" icon="visibility_off" label="Privée" :color="adventure.private ? 'primary' : ''"
              @click="adventure.private = true" />
            <q-btn v-if="editing" :disable="!editing" :flat="adventure.private" :outline="!adventure.private" icon="visibility" label="Publique" :color="!adventure.private ? 'primary' : ''"
            @click="adventure.private = false" />
          </div>
          <!-- Étapes -->
          <q-expansion-item
            expand-separator
            icon="list"
            label="Étapes"
            header-class="text-dark"
            class="bg-primary"
            default-opened
          >
            <q-list class="">
              <step-item v-for="item, k in steps" :key="k" :item="item" :n="k" :current-step="props.step || 0"
                :show-progress="!editing" :editing="editing"
                @move_up="step_reorder($event, $event-1)"
                @move_down="step_reorder($event, $event+1)" :last="k == steps.length - 1"
                @remove="step_delete($event)" :disable-remove="steps[k].items.length > 0" />
              <q-item clickable v-ripple class="text-dark" v-if="editing" @click="add_step">
                <q-item-section avatar >
                  <q-icon name="add" />
                </q-item-section>
                Ajouter une étape
              </q-item>
            </q-list>
          </q-expansion-item>
        </div>
        <!-- PAS D'ÉTAPE -->
        <div class="col-12 q-mt-md row" v-if="!step && editing">
          <q-banner class="text-white bg-info">
            <template v-slot:avatar>
              <q-icon name="info" color="white" />
            </template>
            Il n'y a pas d'étape dans cette aventure. Commencer par en créer une pour pouvoir ajouter des quêtes.
            <template v-slot:action>
              <q-btn flat color="white" label="Créer une étape" @click="add_step" />
            </template>
          </q-banner>
        </div>
        <div v-if="!editing && adventure.data.in_progress" class="col-12 q-mt-md">
          <q-banner icon="edit" class="bg-secondary text-dark">
            <template v-slot:avatar>
              <q-icon name="construction" color="dark" />
            </template>
            En construction. Reviens dans quelques temps.
          </q-banner>
        </div>
        <!-- ÉTAPE EN COURS -->
        <div class="col-12 q-mt-md row" v-if="step && (editing || !adventure.data.in_progress || adventure.is_owner)">
          <!-- Editing -->
          <div v-if="editing" class="q-gutter-md col-12 text-center">
            <q-input v-model="step.name" label="Nom de l'étape" filled class="text-h5" />
            <q-btn color="primary" icon="check_circle" text-color="dark" label="Ajouter une quête" @click="step_item_create(props.step || 0, 'quest')"/>
            <q-btn color="primary" icon="description" text-color="dark" label="Ajouter une section texte" @click="step_item_create(props.step || 0, 'text')"/>
          </div>
          <!-- ITEMS -->
          <div class="col-12 q-mt-md row">
            <div v-for="q, k in step.items" :key="k" class="col-12 row q-mt-lg">
              <!-- Text -->
              <div v-if="q.type == 'text'" class="col-11 col-grow row">
                <!-- Editing -->
                <div class="col-12 q-py-md" v-if="editing && tab_edit_text[k] == 'edit'">
                  <div class="row q-py-md items-center">
                    <span class="text-caption col">N'afficher que si la quête suivante est accomplie:</span>
                    <q-select class="col" filled dense clearable v-model="q.condition"
                    :options="adventure.quests" emit-value map-options option-value="id" option-label="name" />
                  </div>
                  <q-input autogrow filled class="col-11 col-grow " type="textarea" v-model="q.content"/>
                </div>
                <!-- Le texte -->
                <mark-down v-if="editing || !q.condition || (A.adventure.progress.quests && A.adventure.progress.quests[q.condition] && A.adventure.progress.quests[q.condition].done)"
                  class="col-11 col-grow" :content="q.content" />
              </div>

              <!-- Quest -->
              <quest-view v-if="q.type == 'quest'" class="col-11 col-grow q-mt-md q-my-lg"
                :quest-id="q.id" :disable-editing="editing" @editing="editing_quest = $event"
                :show-quest-number="editing || editing_quest"/>

              <!-- Edit buttons -->
              <div v-if="editing" class="col-1 column justify-center">
                <div v-if="q.type == 'text' && editing" class="column">
                  <q-btn v-if="tab_edit_text[k] == 'edit'" flat dense icon="check" color="primary"
                  @click.stop="tab_edit_text[k] = 'view'" />
                  <q-btn v-else flat dense icon="edit" color="primary"
                  @click.stop="tab_edit_text[k] = 'edit'" />
                </div>
                <q-space v-if="q.type == 'text'" />
                <q-btn v-if="editing" flat dense icon="arrow_upward" :disable="k==0" @click.stop="step_items_reorder(props.step || 0, k, k-1)" />
                <q-btn v-if="editing" flat dense icon="arrow_downward" :disable="k==step.items.length-1" @click.stop="step_items_reorder(props.step || 0, k, k+1)"/>
                <q-btn v-if="editing" flat dense icon="send" @click.stop="step_item_move(k)"/>
                <q-btn v-if="editing" flat dense icon="delete" @click.stop="step_item_delete(props.step || 0, q, k)"/>
                <q-space v-if="q.type == 'text'" />
              </div>
              <q-separator v-if="editing" class="col-12 q-my-md" size="1px" />
            </div>
          </div>
          <!-- UNUSED QUEST (ERRORS) -->
          <div class="col-12 q-mt-md row" v-if="editing && unused_quests.length">
            <h2>Quêtes hors sections: {{ unused_quests.length }}</h2>
            <q-banner class="col-12 bg-red text-white">
              <template v-slot:avatar>
                <q-icon name="warning" color="white" />
              </template>
              Ces quêtes ne sont pas dans une étapes. Déplaces-les ou supprimes-les.
            </q-banner>
            <div v-for="q in unused_quests" :key="q.id" class="col-12 row">
              <quest-view class="col-11 col-grow q-mt-xl" :quest-id="q.id" :disable-editing="editing" />
              <div v-if="editing" class="col-1 column justify-center">
                <q-btn v-if="editing" flat dense icon="send" @click.stop="attribute_quest(q.id)"/>
                <q-btn v-if="editing" flat dense icon="delete" @click.stop="A.delete_quest(q.id)"/>
              </div>
            </div>
          </div>
          <!-- EDITING: Add content -->
          <div v-if="editing && step.items.length" class="q-gutter-md col-12 text-center">
            <q-btn color="primary" icon="check_circle" text-color="dark" label="Ajouter une quête" @click="step_item_create(props.step || 0, 'quest')"/>
            <q-btn color="primary" icon="description" text-color="dark" label="Ajouter une section texte" @click="step_item_create(props.step || 0, 'text')"/>
          </div>
          <!-- STEP DONE -->
          <div v-if="steps.length > step_number + 1 && (!A.adventure.progress || A.adventure.progress.steps[step_number].done)"
            class="row q-mt-md col-12">
            <q-card class="col-xs-12 col-md-6 offset-md-3 q-mt-xl bg-primary row">
              <q-icon name="start" class="col-1 text-dark"/>
              <q-list class="q-ma-md col">
                <step-item to-top :item="steps[step_number + 1]" :n="step_number + 1" :current-step="step_number"/>
              </q-list>
            </q-card>
          </div>
        </div>
        <!-- Edit button -->
        <q-page-sticky v-if="!editing_quest && (auth.admin || A.is_owner)" position="bottom-right" :offset="[18, 18]">
          <q-btn v-if="!editing" fab icon="edit" color="accent" @click="editing = true" />
          <q-btn v-else-if="edit_has_changes" fab icon="save" color="accent" @click="edit_save_changes" />
          <q-btn v-else fab icon="check" color="accent" @click="editing = false" />
        </q-page-sticky>
      </div>
    </div>
  </q-page>
</template>

<script setup>

import { useAdventuresStore } from "stores/adventures"
import { useAuthStore } from "stores/auth"
import { computed, ref } from "vue"
import { useRouter, useRoute } from 'vue-router'
import { watch } from "vue";
import { useQuasar, useMeta } from 'quasar'
import _ from 'lodash'
import { SB } from "../db"
import { onMounted } from "vue";

const router = useRouter()
const $q = useQuasar()

const A = useAdventuresStore()
const auth = useAuthStore()

const props = defineProps({
  adventure_slug: String,
  step: {
    type: Number,
    default: 0
  }
})

var step_number = computed(() => parseInt(props.step || 0))

const loading = computed(() => {
  if (!auth.logged) return !A.adventure_loaded
  else return !A.adventure_loaded
})

watch(() => props.adventure_slug, () => {
  console.log("Setting adventure", props)
  A.set_adventure({slug: props.adventure_slug})
}, { immediate: true })

/*
  EDITING
*/

const editing = ref(false)
const editing_adventure = ref({})
const slug_ref = ref()
const tab_edit_text = ref({})
const editing_quest = ref(false)

const adventure = computed(() => editing.value ? editing_adventure.value : A.adventure)
const steps = computed(() => adventure.value.steps || [])
watch([props.step, adventure], () => {
  if(A.adventure_loaded && A.adventure.slug != props.adventure_slug){
    // Le slug de l'aventure a changé, on redirige
    router.push({name: 'AdventuresView', params: {adventure_slug: A.adventure.slug}})
    return
  }
  if(A.adventure_loaded && props.step > steps.value.length - 1){
    // Si l'étape n'existe pas, on redirige vers l'aventure
    router.push({name: 'AdventuresView', params: {adventure_slug: props.adventure_slug}})
    return
  }
}, { immediate: true })
const step = computed(() => steps.value[props.step || 0])

const unused_quests = computed(() => {
  var quests_ids = []
  // On liste toutes les quêtes qui sont listées dans les items de cette aventure
  adventure.value.steps.forEach(s => s.items.forEach(i => i.type == "quest" ? quests_ids.push(i.id) : null))
  // Et on filtre pour retourner celles qui ne sont pas dans la base de donnée et qui n'ont pas été supprimées
  return adventure.value.quests.filter(a => !quests_ids.includes(a.id) && !deleted_quests.value.includes(a.id))
})

// Gerder une trace des quêtes supprimées, mais qui sont encore dans la liste des quêtes de l'aventure.
var deleted_quests = ref([])

watch(editing, (val) => {
  if(val) {
    editing_adventure.value = _.cloneDeep(A.adventure)
    // Keep track of deleted quests
    deleted_quests.value = []
    // Get adventures tags
    A.get_adventures_tags()
  }
})

const edit_has_changes = computed(() => {
  // Sinon on compare
  return !_.isEqual(editing_adventure.value, A.adventure)
})

const edit_save_changes = async () => {
  // S'il y a des erreurs de validation, on permet pas de sauver
  if (slug_ref.value.hasError) {
    $q.notify({
      message: "Commence par mettre ta vie en ordre, puis viens enregistrer.",
      color: "negative",
      icon: "error"
    })
    return
  }
  var r = await A.update_adventure(editing_adventure.value)
  if (!r) return
  editing.value = false
}

const is_slug_unique = (val) => {
  // Le slug a pas changé
  if (val == A.adventure.slug) return true
  // Slug différent, on check s'il est libre
  return new Promise(async (resolve, reject) => {
    var exists = await SB.rpc('adventure_slug_exists', { slug: val })
    resolve(!exists.data || "Ce slug est déjà pris")
  })
}

const add_step = () => {
  $q.dialog({
    title: 'Nouvelle étape',
    message: 'Entrez un nom',
    prompt: { model: '', type: 'text' },
    cancel: true
  }).onOk(data => {
    if (data) step_create(data)
  })
}

const step_item_move = (index) => {
  var items = editing_adventure.value.steps.map((s,k) => ({ label: s.name, value: k})).filter(i => i.value != props.step)
  $q.dialog({
    title: 'Déplacer la quête vers...',
    message: "Choisis l'étape:",
    options: { model: 0, type: 'radio', items: items},
    cancel: true
  }).onOk(data => {
    if (!A.adventure_loaded || !editing.value) return
    var item = editing_adventure.value.steps[props.step].items.splice(index, 1)[0]
    editing_adventure.value.steps[data].items.push(item)
  })
}

const attribute_quest = (quest_id) => {
  var items = editing_adventure.value.steps.map((s,k) => ({ label: s.name, value: k}))
  $q.dialog({
    title: 'Déplacer la quête vers...',
    message: "Choisis l'étape:",
    options: { model: 0, type: 'radio', items: items},
    cancel: true
  }).onOk(data => {
    if (!A.adventure_loaded || !editing.value) return
    editing_adventure.value.steps[data].items.push({ type: "quest", id: quest_id })
  })
}

/*
Reorder steps in adventures.
*/
const step_reorder = async(from = 0, to = 0) => {
  if (!A.adventure_loaded || !editing.value) return
  editing_adventure.value.steps.splice(to, 0, editing_adventure.value.steps.splice(from, 1)[0])
}

/*
Delete step in adventure
*/
const step_delete = async(i) => {
  if (!A.adventure_loaded || !editing.value) return
  if (editing_adventure.value.steps[i].items.length) {
    console.log("Etape pas vide, supprimer d'abord les éléments")
    return
  }
  editing_adventure.value.steps.splice(i, 1)
}

const step_create = async(name) => {
  if (!A.adventure_loaded || !editing.value) return
  editing_adventure.value.steps.push({
    name: name,
    items: []
  })
}

const update_step_info = async(info, id) => {
  if (!A.adventure_loaded || !editing.value) return
  editing_adventure.value.steps[id].name = info.name
}

const step_item_create = async(step_id, type="text") => {
  if (!A.adventure_loaded || !editing.value) return
  // Quête
  if (type == "quest") {
    const data = await A.create_quest(adventure.value.id)
    var item = { type: "quest", id: data.id}
  } else if (type == "text") {
    var item = { type: "text", content: "### Nouvelle section"}
  }
  // L'ajouter dans l'aventure
  editing_adventure.value.steps[step_id].items.push(item)
}

const step_items_reorder = async(step_id, from = 0, to = 0) => {
  if (!A.adventure_loaded || !editing.value) return
  editing_adventure.value.steps[step_id].items
  .splice(to, 0, editing_adventure.value.steps[step_id].items.splice(from, 1)[0])
}

const step_item_delete = async(step_id, item, index) => {
  if (!A.adventure_loaded || !editing.value) return
  // Delete quest
  if (item.type == "quest") {
    await A.delete_quest(item.id)
  }
  // Delete in adventure
  var quest_id = item.id
  editing_adventure.value.steps[step_id].items.splice(index, 1)
  deleted_quests.value.push(quest_id)
}

const delete_adventure = async(adventure_id) => {
  $q.dialog({
    title: `Supprimer '${adventure.value.name}' ?`,
    message: 'Cette action est irreversible.',
    icon: "warning",
    cancel: true
  }).onOk(async () => {
    await A.delete_adventure(adventure_id)
    $q.notify("Aventure supprimée")
    router.go(-1)
  })
}


/*
  META
*/
useMeta(() => ({
  // Title
  title: adventure.value.name,
  // Meta
  meta: {
    description: { name: 'description', content: adventure.value.description },
    keywords: { name: 'keywords', content: 'LevelUP, Open Source Church, '
      + (adventure.value.data ? adventure.value.data.tags.join(", ") : '') },
    ogTitle: {
      content: adventure.value.name,
    },
    ogImage: {
      content: adventure.value.data ? adventure.value.data.cover_image_url : ""
    },
  },
}))


</script>
