<template>
  <q-page padding class="">
    <div class="row">
      <div class="col-12 row q-gutter-md items-center">
        <!-- Type: officielles, communauté, en construction -->
        <q-btn-dropdown class="col-auto" color="primary" text-color="dark" label="Type" size="sm">
          <q-list dense>
            <q-item dense tag="label" v-ripple v-for="t in [
              { name: 'Officielles', icon: 'verified_user', value: 'official'},
              { name: 'Communautés', icon: 'group', value: 'community'},
              { name: 'En construction', icon: 'construction', value: 'in_progress'},
            ]" :key="t.name">
              <q-item-section avatar>
                <q-icon :name="t.icon" />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ t.name }}</q-item-label>
              </q-item-section>
              <q-item-section side >
                <q-toggle v-model="filter.type[t.value]" />
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
        <q-input dense class="col" label="Recherche" v-model="filter.txt" />
        <!-- Voies -->
        <q-select dense class="col" label="Voies" v-model="filter.voie" clearable
            options-dense :options="V.voies" option-label="name" />
        <!-- Tags -->
        <q-select dense class="col" label="Tags" v-model="filter.tags"
            use-chips multiple input-debounce="0" options-dense
            :options="A.adventure_tags"/>
      </div>
      <!-- Voie sélectionnées -->
      <div v-if="filter.voie" class="col-8 offset-2 row q-ma-md">
        <q-img class="col-2" :src="filter.voie.image" sizes="100px" :ratio="1" >
          <div  class="absolute-bottom-left" style="padding: 0; opacity: .5;">
            <q-icon name="info">
              <q-tooltip>
                <mark-down :content="filter.voie.ref" no-substitutions />
              </q-tooltip>
            </q-icon>
          </div>
        </q-img>
        <div class="col-10 q-pl-md">
          <div class="text-h6 text-secondary">{{ filter.voie.name }}</div>
          <div class="text-body1">{{ filter.voie.description }}</div>
        </div>
      </div>
      <!-- Les aventures -->
      <adventures-list class="col-12" :adventures="filtered_adventures"></adventures-list>
    </div>
  </q-page>
</template>

<script setup>

import { ref, computed } from 'vue'

import { useAdventuresStore } from 'stores/adventures'
import { useVoiesStores } from 'stores/voies'

const A = useAdventuresStore()
A.list()
A.get_adventures_tags()

const V = useVoiesStores()

const filter = ref({ type: { official: true, community: true, in_progress: true } })

const filtered_adventures = computed(() => {
  var a = A.adventures
  if (!a) return {}

  // On enlève les privées
  a = a.filter(a => !a.private)

  var f = filter.value

  // On filtre par texte
  if (f.txt) a = a.filter(a => a.name.toLowerCase().includes(f.txt.toLowerCase())
                            || a.description.toLowerCase().includes(f.txt.toLowerCase()))

  // On filtre par type
  if (!f.type.official) a = a.filter(a => !a.official)
  if (!f.type.community) a = a.filter(a => a.official)
  if (!f.type.in_progress) a = a.filter(a => !a.data.in_progress)

  // On filtre par voie
  if (f.voie) a = a.filter(a => a.data.tags.includes(f.voie.tag))

  // On filtre par tags
  if (f.tags) a = a.filter(a => f.tags.every(t => a.data.tags.includes(t)))

  // On trie
  a = a.sort((a, b) => b.data.in_progress ? -1 : (!b.official ? -1 : 0))

  return a
})

</script>
