<template>
  <q-page >
    <q-img id="banner" src="https://www.davidrevoy.com/data/images/blog/2023/2023-05-22_geek-faeries-2023.jpg">
      <div class="absolute-top-right text-caption bg-transparent">
        CC-BY-SA <a target="_blank" href="https://www.davidrevoy.com/article971/i-ll-be-at-the-geek-faeries-2023-festival">
          David Revoy
        </a>
      </div>
    </q-img>

    <div class="row" :style="banner_style">
      <!-- Banner -->
      <div class="col-12 col-sm-6 bg-dark q-pa-xl">
        <div class="text-h1 text-primary q-mb-lg text-center">LevelUP</div>
        <div class="text-h5 text-center">L'académie de (trans)formation des aventuriers et aventurières ordinaires.</div>
      </div>
      <div class="col-12 col-sm-6 self-center text-center">
        <div class="q-pa-xl gt-xs"></div>
        <q-btn class="q-mb-xl" color="primary" text-color="dark" size="lg" label="Démarrer"
          to="/aventures/tuto-levelup" />
      </div>
      <!-- Icones -->
      <div class="col-12 row q-py-xl">
        <template v-for="i in [
          {color: 'primary', icon: 'hub', text: 'Rejoins une guilde', description: 'Une super communauté pleine de gens passionnés et sympa'},
          {color: 'secondary', icon: 'check', text: 'Accomplis des quêtes', description: 'Dans des aventures autour de thèmes aussi variés qu\'importants'},
          {color: 'accent', icon: 'trending_up', text: 'Gagne des niveaux', description: 'Deviens la meilleur version de toi-même'},
        ]" :key="i.text">
          <div :class="`gt-xs col-4 text-center q-pa-lg text-${i.color}`">
            <span class="text-h2"><q-icon :name="i.icon" size="xl"/></span><br />
            <span class="gt-xs text-h4">{{ i.text }}</span><br/>
            <span class="lt-sm text-h5">{{ i.text }}</span><br/>
            <span class="text-caption">{{ i.description }}</span>
          </div>
          <div :class="`lt-sm col-12 row items-start q-pa-md text-${i.color}`">
            <span class="text-h2 col-3 text-center"><q-icon :name="i.icon" size="xl"/></span>
            <div class="col-9">
              <span class="text-h4">{{ i.text }}</span><br/>
              <span class="text-caption">{{ i.description }}</span>
            </div>
          </div>
        </template>
      </div>
      <div class="col-12 text-center q-py-xl q-pa-xl">
        <div class="q-ma-xl text-h4 ">
          À l'Aventure, compagnons !
        </div>
        <adventures-list :adventures="A.adventures.filter(a => a.slug == 'tuto-levelup')"></adventures-list>
      </div>
      <!-- Les Voies -->
      <div class="col-12 text-center q-pt-xl">
        <div class="q-mt-xl text-h4 ">
          Suis des vois tracées pour te guider
        </div>
        <div class="q-pt-md text-caption text-grey">
          LevelUp est en phase de test. <br/>
          Beaucoup de ces aventures sont encore en développement.
        </div>
      </div>
      <div class="col-12 q-pa-xs-sm q-py-xs-xl q-pa-sm-md q-pa-md-xl ">
        <div class="q-my-xs-xl q-ma-sm-md q-ma-md-xl">
          <q-carousel id="carousel" v-model="carousel_voies" swipeable animated arrows navigation :autoplay="5000" infinite
            height="500px" class="bg-dark text-white rounded-borders">

            <q-carousel-slide v-for="(voie, k) in V.voies" :key="voie.name" :name="voie.name"
              :class="`row q-pa-none ${k % 2 == 3 ? 'reverse' : ''}`">
              <q-img class="art col-4 col-sm-6 full-height" :src="voie.image" fit="cover">
                <div class="text-caption q-pa-none absolute-bottom-left">
                  <mark-down :content="voie.ref" no-substitutions />
                </div>
              </q-img>
              <div class="col-8 col-sm-6 q-pa-md">
                <div class="text-h4 q-mb-md text-primary">{{ voie.name }}</div>
                <div class="text-subtitle1 q-mb-md text-secondary">{{ voie.description }}</div>
                <q-list>
                  <adventure-item v-for="a in A.adventures.filter(a => a.data.tags.includes(voie.tag))"
                    :key="a.id" :id="a.id" :show-linear-progress="false" :show-caption="false"
                    :show-active="false" class="q-pa-none" />
                </q-list>
              </div>
            </q-carousel-slide>
          </q-carousel>
        </div>
        <div class="text-center">
          <q-btn label="Toutes les aventures" color="secondary" text-color="dark" to="/aventures"/>
        </div>
      </div>
      <!-- Aventures communauté -->
      <div class="col-12 text-center q-pa-xl">
        <div class="q-ma-xl text-h4 ">
          Crées tes propres Aventures et partages-les
        </div>
        <div>Des aventures crées par la communauté:</div>
        <adventures-list class="col-12"
          :adventures="A.adventures.filter(a => !a.private && !a.official).slice(0, 3)" />
      </div>
      <!-- OSC -->
      <div class="col-12 text-center q-pa-xl">
        <div class="q-ma-xl">
          <img src="https://www.open-source.church/images/logo/logo.webp" />
          <p>LevelUp! est un projet d'<a href="https://www.open-source.church" target="_blank">Open Source Church</a>.</p>
          <p class="text-body2">Un projet d'Église en construction, par des geeks et pour des geeks.</p>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { computed, ref } from 'vue'
import { useQuasar } from 'quasar'
import {useAdventuresStore} from 'stores/adventures'
import { useVoiesStores } from 'stores/voies'
const $q = useQuasar()

const A = useAdventuresStore()
const V = useVoiesStores()
A.list()

const banner_style = computed(() => {
  if ($q.screen.gt.sm)
    return {"max-width": "960px", "margin": "auto", "top":"-8rem", "position": "relative"}
  else return {}
})

const carousel_voies = ref(V.voies[0].name)



</script>

<style lang="scss">

#banner {
  max-height: 800px;

  .q-img__content {
    background: linear-gradient(#21222700,#21222700 60%, #212227ff 95%);
  }
}

#carousel .art p {
  margin: 0;
  opacity: .5;
}

</style>
