<template>
  <q-page class="">
    <div class="flex flex-center" v-if="loading">
      <q-spinner-ball size="25%" />
    </div>
    <div v-else >
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="dashboard" label="Dashboard" icon="dashboard" />
        <q-tab name="adventures" label="Mes aventures" icon="hiking" />
      </q-tabs>
      <q-separator />
      <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="dashboard" class="row">
            <div class="col-12  text-center q-my-lg">
              <div class="text-h4">{{ auth.name }}</div>
              <div class="text-caption">Niveau {{ A.user_info.data.level }}</div>
            </div>
            <!-- Niveau: bar de progrès -->
            <div class="col-12 col-sm-8 offset-sm-2 col-md-4 offset-md-4 q-pa-md row" v-if="A.user_info.data.level" >
              <span class="text-overline col-12 text-center">Prochain niveau</span>
              <q-linear-progress class="" size="10px" :value="A.user_info.data.level_xp / A.user_info.data.level_next"/>
              <span class="text-caption">{{ A.user_info.data.level_xp }} XP</span>
              <q-space />
              <span class="text-caption">{{ A.user_info.data.level_next }} XP</span>
            </div>

            <div v-if="A.user_info.data" class="col-12 text-center">
              <q-chip v-if="A.user_info.data.xp" color="primary" text-color="dark" >{{ A.user_info.data.xp }} XP</q-chip>
              <q-chip v-if="A.user_info.data.quests_done" color="secondary" text-color="dark">{{ A.user_info.data.quests_done }} quêtes</q-chip>
              <q-chip v-if="A.user_info.data.adventures_done" color="accent" text-color="white">{{ A.user_info.data.adventures_done }} aventures</q-chip>
            </div>

            <div class="col-12 row q-mt-xl q-col-gutter-md">
              <div class="col-12 col-sm-6">
                <q-card >
                  <q-card-section class="bg-primary text-dark">
                    Aventures en cours
                  </q-card-section>
                  <q-separator />
                  <q-list>
                    <adventure-item v-for="a in A.adventures_in_progress" :key="a" :id="a" />
                    <q-item v-if="!A.adventures_in_progress.length" to="/aventures">
                      <q-item-label>
                        C'est très calme. Peut-être le moment de commencer quelque chose?
                      </q-item-label>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
              <div class="col-12 col-sm-6">
                <q-card>
                  <q-card-section class="bg-primary text-dark">
                    Aventures terminées
                  </q-card-section>
                  <q-separator />
                  <q-list>
                    <adventure-item v-for="a in A.user_logs.filter(l => l.data.done).map(l=>l.adventure) " :key="a" :id="a" />
                  </q-list>
                </q-card>
              </div>
              <div class="col-12 col-sm-6">
                <q-card >
                  <q-card-section class="bg-primary text-dark">
                    XP / stats
                  </q-card-section>
                  <q-card-section >
                    D'où viennent mes XPs?

                    Stats détaillées à venir.
                  </q-card-section>
                </q-card>
              </div>
              <!-- Badges -->
              <div class="col-12 col-sm-6">
                <q-card >
                  <q-card-section class="bg-primary text-dark">
                    Badges
                  </q-card-section>
                  <q-card-section class="">
                    <q-avatar class="q-ma-md" v-for="b in V.badges" :key="b.id" :icon="b.icon" size="70px"
                      :color="A.user.data.badges.includes(b.id)? 'accent' : 'grey-9'"
                      :text-color="A.user.data.badges.includes(b.id)? 'secondary' : 'grey-6'">
                      <tool-tip>
                        <b v-if="b.name">{{ b.name }}:</b> {{ b.description }}
                      </tool-tip>
                    </q-avatar>
                  </q-card-section>
                </q-card>
              </div>
            </div>

          </q-tab-panel>

          <q-tab-panel name="adventures" class="q-pa-none">
            <div class="row ">
              <div class="col-12 text-h4 q-my-lg text-center">Mes aventures</div>
              <div class="text-center col-12">
                <q-btn class="q-ma-md" label="Créer une aventure" color="primary" text-color="dark" @click="A.create_adventure" />
              </div>
              <q-list class="col-12">
                <q-item-label header>Aventures vides</q-item-label>
                <adventure-item v-for="a in A.user.adventures.filter(a => !a.name).map(l=>l.id)" :key="a" :id="a" />
                <q-item-label header>Aventures officielles publiques</q-item-label>
                <adventure-item v-for="a in A.user.adventures.filter(a => a.official && !a.private).map(l=>l.id)" :key="a" :id="a" />
                <q-item-label header>Aventures officielles privées</q-item-label>
                <adventure-item v-for="a in A.user.adventures.filter(a => a.official && a.private).map(l=>l.id)" :key="a" :id="a" />
                <q-item-label header>Aventures perso publiques</q-item-label>
                <adventure-item v-for="a in A.user.adventures.filter(a => !a.official && !a.private).map(l=>l.id)" :key="a" :id="a" />
                <q-item-label header>Aventures perso privées</q-item-label>
                <adventure-item v-for="a in A.user.adventures.filter(a => !a.official && a.private).map(l=>l.id)" :key="a" :id="a" />
              </q-list>
            </div>
          </q-tab-panel>
        </q-tab-panels>
    </div>
  </q-page>
</template>

<script setup>
import { useAdventuresStore } from "../stores/adventures"
// import { SB } from "../db"
import { useAuthStore } from '../stores/auth'
import { useVoiesStores } from '../stores/voies'
import { computed, ref } from 'vue'
import { useRouter } from "vue-router"
import _ from 'lodash'

const auth = useAuthStore()
const A = useAdventuresStore()
const V = useVoiesStores()
const router = useRouter()

const tab = ref("dashboard")

const loading = computed(() => _.isEmpty(A.user_info))

const public_adventures = computed(() => {
  try { return A.user_info.adventures.filter(a => !a.private) }
  catch { return [] }
})
const private_adventures = computed(() => {
  try { return A.user_info.adventures.filter(a => a.private) }
  catch { return [] }
})

</script>
