<template>
  <q-page class="flex flex-center">
    <div class="row text-center">
      <div class="col-12 text-h2 q-mb-lg">LevelUP</div>
      <div class="col-12 text-overline q-mb-lg">Login</div>
      <div class="col-12">
        <q-btn color="primary" text-color="dark" label="Discord" @click="auth.signInWithDiscord"></q-btn>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { useAuthStore } from "stores/auth";
import { SB } from "../db"

const auth = useAuthStore()

</script>
