<template>
  <form @submit.prevent.stop="onSubmit">
    <div class="q-pa-md">
      <q-card-section>
        <div class="q-gutter-md">
          <q-input filled ref="titleRef" v-model="title" label="Titre" :rules="[val => val.length > 5 || 'Il faut un titre plus long']"/>
          <q-input filled ref="slugRef" v-model="slug" label="Slug" :rules="[val => val.length > 5 && !adventures.slugs.includes(val) || 'Ce slug est trop court ou déjà pris']"/>
          <q-input filled v-model="description" type="textarea" label="Description"/>
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn color="primary" text-color="dark" label="Enregistrer" type="submit" />
      </q-card-actions>
    </div>
  </form>

</template>

<script setup>
import { useAdventuresStore } from "src/stores/adventures";
import {ref, computed} from "vue"
import _ from 'lodash'

const adventures = useAdventuresStore()

const titleRef = ref()
const slugRef = ref()
const title = ref("")
const slug = ref("")
const description = ref("")

const onSubmit = async () => {
  titleRef.value.validate()
  slugRef.value.validate()
  if (!titleRef.value.hasError && !slugRef.value.hasError) {
    await adventures.create_adventure({
      title: title.value,
      description: description.value
    })
    titleRef.value.resetValidation()
    slugRef.value.resetValidation()
    title.value=""
    slug.value=""
    description.value=""
  }
}

</script>
