<template>
  <div class="row q-col-md justify-center">
    <adventure-card class="col-xs-12 col-sm-6 col-md-4 q-pa-md" v-for="a in adventures" :key="a.id"
    :id="a.id"
    @click="router.push({name: 'AdventuresView', params: {adventure_slug: a.slug}})" />
  </div>

</template>

<script setup>
import { useAdventuresStore } from "src/stores/adventures";
import {ref, computed} from "vue"
import { useRouter } from "vue-router"
import _ from 'lodash'

const A = useAdventuresStore()

const props = defineProps(["adventures", "adventures_ids"])

const router = useRouter()

const adventures = computed(() => {
  if (props.adventures) return props.adventures
  else if (props.adventures_ids) {
    props.adventures_ids.forEach(id => A.get_adventure(id))
    return A.adventures.filter(a => props.adventures_ids.includes(a.id))
  }
  return []
})

</script>
