<template>
  <template v-for="(part, k) in html" :key="k">
    <div v-if="part.type == 'copy'" >
      <q-card class="q-pa-md q-ma-md bg-grey-10 text-body2 no-shadow">
        <q-card-section>
          <div v-html="part.html" ></div>
        </q-card-section>
        <q-btn flat class="absolute-top-right" icon="content_copy" @click="copy(part.md)" size="md"/>
      </q-card>
    </div>
    <div v-else v-html="part.html" ></div>

  </template>
</template>

<script setup>
import { marked } from 'marked'
import { computed, watch, ref } from 'vue'
import { useAdventuresStore } from 'stores/adventures'
import { useAuthStore} from 'stores/auth'
import _ from 'lodash'
import DOMPurify from 'dompurify'
import { copyToClipboard, useQuasar } from 'quasar'

marked.use({
  mangle: false,
  headerIds: false
})

DOMPurify.addHook('afterSanitizeAttributes', function (node) {
  // set all elements owning target to target=_blank
  if ('target' in node) {
    node.setAttribute('target', '_blank');
    node.setAttribute('rel', 'noopener');
  }
})

const auth = useAuthStore()
const A = useAdventuresStore()
const $q = useQuasar()

const props = defineProps({
  content: String,
  data: Object,
  noSubstitutions: Boolean
})
const html = ref("")

/*
  Purify with DOMPurify
*/
const purify = content => DOMPurify.sanitize(content, { ADD_ATTR: ['target'] })

/*
  Format the content.
  Returns an array so we can have special components inserted.
*/
const format_md = () => {
  var content = props.content || ""

  if (!props.noSubstitutions)
  content = replaceAll(content)

  // On split
  // (Pas sûr que ce soit la meilleure manière de faire ça)
  var r = []
  var next = ""
  content.split(sep).forEach(t => {
    if (t == "COPY") next = "copy"
    else  {
      r.push({
        type: next,
        html: purify(marked(t)),
        md: t
      })
      next = ""
    }
  })

  html.value = r
}

var sep = "----§$^:sep:^$§----"

const replaceAll = t => {
  // Info block [info]blabla[/info]
  t = t.replaceAll(/\[info\]([\s\S]+?)\[\/info\]/gm,
  `<div class="text-info">\n\n[icon info info] $1\n\n</div>`)

  // Center block: [center]blablabla[/center]
  t = t.replaceAll(/\[center\]([\s\S]+?)\[\/center\]/gm,
  `<div class="text-center">\n\n$1\n\n</div>`)

  // Link button: [btn http://www...]Label[/btn]
  t = t.replaceAll(/\[btn ([^\s]+)\](.+?)\[\/btn\]/g,
  `<a href="$1" target="_blank" class="bg-primary text-dark q-pa-md q-my-md rounded-borders text-center">$2</a>`)

  // Icons
  t = t.replaceAll(/\[icon ([a-z_]+)\s*([a-z\-]*)\]/g,
  `<i class="material-icons text-$2">$1</i>`)

  // Username
  t = t.replaceAll(/\[user name\]/g, (v) => {
    if (auth.logged) return auth.name
    else return v
  })

  // Copy block
  t = t.replaceAll(/\[copy\]([\s\S]+?)\[\/copy\]/gm,
  `${sep}COPY${sep}\n\n$1\n\n${sep}`)

  // Adventure props
  t = t.replaceAll(/\[aventure ([a-z_]+)\]/g, (v, props) => {
    if (props in A.adventure) return A.adventure[props]
    else return v
  })

  // Quest props
  t = t.replaceAll(/\[quete ([\d]+) ([a-z_\.]+)\]/g, (v, id, props) => {
    // On cherche dans la quête dont l'id est id
    var q = A.adventure.quests.find(q => q.id == id)
    if (q && _.has(q, props)) return _.get(q, props)
    // On cherche dans les données utilisateurs pour la quête
    if (A.adventure.progress) {
      q = A.adventure.progress.quests[id]
      if (_.has(q, props)) return _.get(q, props)
      else if (_.has(q, "logs[0].data."+props)) return _.get(q, "logs[0].data."+props)
    }
    return ""
  })

  // Check list de quête
  var n = 0
  t = t.replaceAll(/\[\]/g, (v) => {
    if (props.data && props.data.done_number) {
      if (props.data.done_number > n) {
        n += 1
        return "☑"
      }
    }
    return "☐"
  })

  // Adventure props
  t = t.replaceAll("[url]", window.location.href)

  // Youtube vidéos
  var yt = `<div class="text-center"><iframe width="560" height="315" src="https://www.youtube.com/embed/$1"
  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
  picture-in-picture; web-share" allowfullscreen></iframe></div>`
  t = t.replace(/https:\/\/www.youtube.com\/watch\?v=([a-zA-Z0-9_]+)/, yt)
  t = t.replace(/https:\/\/youtu.be\/([a-zA-Z0-9_]+)/, yt)

  return t
}

/*

  On debounce le formattage comme il y a pas mal de remplacement regexp ça peut être exigeant.

*/
const debounce = _.debounce(format_md, 500, { leading: true })
watch(() => [props.content, props.data], () => {
  debounce()
}, { immediate: true })

const copy = (content) => {
  copyToClipboard(content)
  $q.notify({
    message: "Contenu copié dans le presse-papier.",
    position: "top",
    icon: "content_copy"
  })
}

</script>

<style lang="scss">
</style>
