<template>
  <q-card class="" v-if="quest">
    <!-- FLAG -->
    <xp-flag :xp="!quest.data.multiple ?
                    quest.xp
                    : (progress && progress.done_number ? progress.done_number * quest.xp
                       : quest.xp)" :done="progress && progress.done" />

    <q-card-section :class="'cursor-pointer ' + (quest.side ? 'bg-secondary text-dark' : 'bg-primary text-dark')" @click="expanded = !expanded">
      <div class="row">
        <div class="text-overline">
          Quête
          {{ quest.side ? ' annexe' : '' }}
          {{ quest.data.epic ? ' épique' : '' }}
          {{ quest.data.multiple ? ' multiple' : '' }}
          {{ (showQuestNumber || editing) ? ` #${quest.id}` : '' }}
        </div>
        <q-btn flat dense class="q-ml-md"
        :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
        @click.stop="expanded = !expanded"/>
        <q-btn flat dense class="q-ml-md" text-color="dark" icon="edit" v-if="(auth.admin || A.is_owner) && !props.disableEditing"
        @click.stop="editing = !editing"/>
        <q-btn size="sm" rounded class="q-ml-md" color="accent" text-color="white" icon="save" label="Enregistrer"
        v-if="editing && edit_has_changes" @click.stop="edit_save_changes"/>

      </div>
      <!-- Spacing for mobile -->
      <div class="text-h6 lt-sm"></div>
      <div class="row q-mt-lg items-center">

        <!-- Multiple quests -->
        <q-circular-progress v-if="quest.data.multiple && progress"
          :value="progress.done_number / quest.data.multiple_max * 100"
          size="1em"
          :thickness="1"
          color="accent" show-value
          track-color="yellow" class="q-mr-sm">
          <tool-tip>Quête multiple: {{ progress.done_number }} / {{ quest.data.multiple_min }}.</tool-tip>
        </q-circular-progress>

        <!-- Title -->
        <div class="col text-h6">
          {{ quest.name || "Quête sans nom" }}
          <q-badge v-if="quest.data.multiple && progress && progress.done_number > 0 && !progress.done"
            color="secondary" text-color="dark" align="middle">{{ progress.done_number }} / {{ quest.data.multiple_min }}</q-badge>
        </div>
      </div>

    </q-card-section>
    <!-- CONTENT -->
    <q-slide-transition>
        <div v-show="expanded">
          <q-separator />
          <!-- Description -->
          <q-tabs align="justify" inline-label v-model="tab" v-if="editing">
            <q-tab label="Edition" name="edit" icon="edit"/>
            <q-tab label="Aperçu" name="view" icon="preview"/>
          </q-tabs>
          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="edit">
              <!-- Editing -->
              <q-separator v-if="editing" />
              <q-card-section v-if="editing" class="row">
                <q-form class="col q-gutter-md">
                  <q-input label="Nom" filled v-model="quest.name"/>
                  <div class="row">
                    <q-input v-model.number="quest.xp" label="XP" type="number" filled style="max-width: 200px"
                    :rules="[val => val <= 30 || 'Maximum 30 XP par quête']" />
                    <q-toggle label="Annexe" v-model="quest.side"/>
                    <q-toggle label="Épique" v-model="quest.data.epic"/>
                  </div>
                  <q-input label="Description" type="textarea" filled v-model="quest.description"/>
                  <q-select filled v-model="quest.type" :options="quest_types" map-options emit-value label="Type" />
                  <!-- Text -->
                  <div  v-if="quest.type == 'text'" class="q-gutter-md">
                    <span class="text-caption">Options spécifique pour les quêtes texte</span>
                    <q-input v-model.number="quest.data.txt_min_size" label="Longueur minimum en charactères" type="number" filled />
                    <q-input v-model.number="quest.data.txt_label" label="Label (indication sur ce qu'il faut remplir)" filled />
                  </div>
                  <!-- Options -->
                  <div class="q-gutter-md row">
                    <span class="text-caption col-12">Options générales</span>
                      <q-toggle class="col-12" v-model="quest.data.multiple" label="Multiple (peut être accomplie plusieurs fois)" />
                      <q-input class="col-5" dense v-if="quest.data.multiple"
                        v-model.number="quest.data.multiple_min" label="Minimum" type="number"
                        hint="Le nombre minimum de fois que cette quête doit être accomplie" filled
                        :rules="[
                          n => n > 0 || 'Minimum 1, quand même.',
                          n => n * quest.xp <= 100 || 'Maximum 100 XP pour une quête multiple'
                        ]"/>
                      <q-input class="col-5" dense v-if="quest.data.multiple"
                        v-model.number="quest.data.multiple_max" label="Maximum" type="number"
                        hint="Le nombre maximum de fois que cette quête peut être accomplie" filled
                        :rules="[
                          n => n >= quest.data.multiple_min || 'Doit être plus grand que le minimum, sinon ça veut rien dire.',
                          n => n * quest.xp <= 100 || 'Maximum 100 XP pour une quête multiple'
                        ]"/>
                  </div>
                </q-form>
                <q-separator />
              </q-card-section>
            </q-tab-panel>
            <q-tab-panel name="view">
              <q-card-section class="">
                <mark-down :content="quest.description" :data="progress"/>

                <!-- Quête multiple -->
                <div v-if="quest.data.multiple" class="q-py-md">
                  <span class="text-caption text-grey">
                    Quête multiple: doit être validée au moins {{ quest.data.multiple_min }} fois. Tu gagnes {{ quest.xp }} XP chaque fois.
                    <span v-if="quest.data.multiple_max > quest.data.multiple_min"> (maximum: {{ quest.data.multiple_max }})</span>
                  </span>
                </div>
                <div v-if="quest.data.multiple && progress && progress.logs.filter(l => l.done).length" class="q-py-lg">
                  <q-list bordered class="rounded-borders">
                    <q-expansion-item
                      expand-separator
                      icon="list"
                      label="Journal de quête"
                      header-class="text-grey"
                    >
                      <q-card>
                        <q-card-section>
                          <q-list>
                            <q-item v-for="log in progress.logs.filter(l => l.done)" :key="log.id" >
                              <q-item-section>
                                <q-item-label>{{ new Date(log.time).toLocaleString() }}</q-item-label>
                                <q-item-label caption v-if="log.data.text">{{ log.data.text }}</q-item-label>
                                <q-item-label caption v-if="log.data.don">{{ log.data.don }}</q-item-label>
                              </q-item-section>
                              <q-item-section avatar>
                                <q-btn flat color="negative" icon="delete" @click="A.log_quest_remove(log.id)" />
                              </q-item-section>
                            </q-item>
                          </q-list>
                        </q-card-section>
                      </q-card>
                    </q-expansion-item>
                  </q-list>
                </div>

                <!-- Quest type: text -->
                <q-input v-if="quest.type == 'text'" type="textarea" autogrow filled
                  v-model="input.text" :label="quest.data.txt_label" :disable="editing || !progress" />
                <q-linear-progress v-if="quest.type == 'text' && quest.data.txt_min_size && input.text.length < quest.data.txt_min_size"
                :value="input.text.length / quest.data.txt_min_size"
                animation-speed="200"/>
                <div class="text-caption text-cyan-9 text-right"  v-if="quest.type == 'text'" >
                  <span @click="$q.dialog({
                    title: 'Qui peut lire ce que tu écris ici?',
                    message: `<p>Les données sont sauvegardées dans ta progression personnelle. Une sorte de <b>journal d'apprentissage</b>.</p>
                    <p class='text-caption'>À part toi, seuls les <i>admins du site</i> ont potentiellement accès à ces données.
                    Pour certaines données sensibles, pas même eux peuvent te lire (ce sera indiqué le cas échéant).</p>`,
                    html: true
                  })"><q-icon name="info" /> Qui peut lire ce que j'écris?</span>
                </div>

                <!-- Quest type: don -->
                <div v-if="quest.type == 'don'" class="row">
                  <p class="col-12">
                    Cette aventure vous a plu ? Faites un don pour encourager l'équipe !
                  </p>
                  <q-card class="col-12">
                    <q-list bordered class="rounded-borders">
                      <q-expansion-item
                        expand-separator
                        icon="volunteer_activism"
                        label="Pourquoi faire un don?"
                      >
                        <q-card>
                          <q-card-section>
                            Ces aventures sont crées par des professionnels passionnés.
                            Elles sont mises à disposition gratuitement pour permettre au plus grand nombre d'en profiter,
                            mais elles ont un coût. En faisant un don, tu permets à LevelUP et Open Source Church
                            de continuer à développer ces activités!
                          </q-card-section>
                        </q-card>
                      </q-expansion-item>
                    </q-list>
                    <q-list bordered class="rounded-borders">
                      <q-expansion-item
                        expand-separator
                        icon="arrow_forward"
                        label="Comment faire un don?"
                      >
                        <q-tabs
                          v-model="tab_don"
                          class="bg-grey-9"
                          active-color="primary"
                          indicator-color="primary"
                          inline-label
                          align="justify"
                        >
                        <q-tab name="twint" label="Twint" icon="img:https://www.tftw.ch/images/siteimages/twint_logo.png" />
                        <q-tab name="iban" label="QR-Facture" icon="img:https://emojigraph.org/media/messenger/flag-switzerland_1f1e8-1f1ed.png" />
                        <q-tab name="paypal" label="Paypal" icon="img:https://cdn.icon-icons.com/icons2/730/PNG/512/paypal_icon-icons.com_62759.png" />
                        </q-tabs>

                        <q-tab-panels v-model="tab_don" animated class="shadow-2 rounded-borders">
                          <q-tab-panel name="twint" class="row">
                            <div class="col-12 col-sm-8">
                              <div class="text-h6">Faire un don avec Twint</div>
                              <p class="text-caption">Il y aura bientôt un moyen plus efficace. En attendant vous pouvez scanner ce QR-Code.</p>
                            </div>
                            <q-img class="col-12 col-sm-4" src="https://tools.open-source.church/wp-content/uploads/2023/05/qr-code-twint-osc.png" />
                          </q-tab-panel>

                          <q-tab-panel name="iban" class="row">
                            <div class="col-12 col-sm-6">
                              <div class="text-h6">Faire un versement par QR-Facture</div>
                              <p class="text-caption">Il y aura bientôt un moyen plus efficace. En attendant vous pouvez scanner ce QR-Code.</p>
                            </div>
                            <q-img class="col-12 col-sm-6" src="https://tools.open-source.church/wp-content/uploads/2023/05/bv-qr-osc.png" />
                          </q-tab-panel>

                          <q-tab-panel name="paypal" class="row ">
                            <form action="https://www.paypal.com/donate" method="post" target="_blank" class="col-12 col-sm-4 text-center self-center">
                              <input type="hidden" name="hosted_button_id" value="66XF4NSGZB32G" />
                              <input type="image" src="https://www.paypalobjects.com/fr_FR/CH/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Bouton Faites un don avec PayPal" />
                              <img alt="" border="0" src="https://www.paypal.com/fr_CH/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                            <div class="col-12 col-sm-8">
                              <div class="text-h6">Faire un don avec Paypal</div>
                              <p class="text-caption">Paypal permet de faire des dons avec un compte paypal ou de nombreuses cartes.
                              </p>
                            </div>
                          </q-tab-panel>
                        </q-tab-panels>
                      </q-expansion-item>
                    </q-list>
                  </q-card>
                  <q-input class="col-xs-12 col-sm-6 q-mt-md" label="J'ai fait un don de…" v-if="quest.type == 'don'" type="number" filled
                  v-model.number="input.don" :disable="editing || !progress || !progress.adventure.started"/>

                  <q-banner class="col-xs-12 col-sm-6 self-center text-red-8" v-if="input.don > 0">
                    <template v-slot:avatar>
                      <q-icon name="favorite" color="red-8" />
                    </template>
                    Merci beaucoup !!
                  </q-banner>
                </div>
              </q-card-section>
            </q-tab-panel>
          </q-tab-panels>
          <!-- ACTIONS -->
          <q-card-actions align="right" class="q-pa-md" >
            <!-- Logged user -->
            <div v-if="auth.logged">
              <!-- Editing -->
              <div v-if="editing">
                <q-btn rounded class="q-ml-md" color="accent" text-color="white" icon="save" label="Enregistrer"
                v-if="edit_has_changes" @click.stop="edit_save_changes"/>
              </div>
              <!-- Adventure not started -->
              <div v-else-if="!progress || !progress.adventure.started">
                <q-chip text-color="grey">Démarre l'aventure pour accomplir les quêtes</q-chip>
              </div>
              <!-- Adventure finished -->
              <div v-else-if="progress.adventure.finished">
                <q-chip text-color="grey">Redémarre l'aventure si tu veux refaire les quêtes</q-chip>
              </div>
              <!-- Previous step not done -->
              <div v-else-if="!progress.open">
                <q-chip text-color="grey">Termine l'étape précédente pour commencer cette quête</q-chip>
              </div>
              <!-- Adventure started -->
              <div v-else>
                <!-- Warnings -->
                <q-chip v-if="quest_warning" icon="warning" text-color="negative">{{ quest_warning }}</q-chip>
                <!-- Buttons -->
                <q-btn v-if="has_edits" class="q-mr-md" flat @click="log_quest(quest_warning ? false : progress.done)"
                  size="" text-color="primary" icon="check" >Enregistrer</q-btn>
                <q-btn v-if="!progress.done || (quest.data.multiple && progress.done_number < quest.data.multiple_max)" @click="log_quest()" size="" color="primary" text-color="dark"
                  icon="check" :disabled="quest_warning">Valider
                  <span class="q-ml-sm" v-if="quest.data.multiple">{{ progress.done_number + 1 }} / {{ quest.data.multiple_min }}</span>
                </q-btn>
                <q-btn v-if="progress.done" @click="A.log_quest_clear(quest.id)" flat color="" text-color="cream"
                icon="restart_alt"></q-btn>
              </div>
            </div>
            <div v-else>
              <q-chip icon="discord" text-color="grey">Connecte-toi pour pouvoir logger les quêtes</q-chip>
            </div>
          </q-card-actions>
        </div>
      </q-slide-transition>

    </q-card>

</template>

<script setup>
import { useAdventuresStore } from "src/stores/adventures";
import { useAuthStore } from "stores/auth";
import {ref, computed, watch, onMounted} from "vue"
import _ from 'lodash'
import { useQuasar, date } from 'quasar'

import confetti from 'canvas-confetti'


const A = useAdventuresStore()
const $q = useQuasar()
const auth = useAuthStore()

const props = defineProps({
  questId: Number,
  disableEditing: Boolean,
  showQuestNumber: Boolean
})

const emit = defineEmits(["editing"])

const editing = ref(false)
const the_quest = computed(() => A.adventure.quests.find(q => q.id == props.questId) || false)
const quest = computed(() => editing.value ? editing_quest.value : the_quest.value)
const expanded = ref(false)

const quest_types = [
  { label: "Action", value: "action" },
  { label: "Texte", value: "text" },
  { label: "Quiz", value: "quiz" },
  { label: "Don", value: "don" }
]

// QUESTS INPUT
const input = ref({text: "", don:0})

const tab_don = ref("twint")
const progress = computed(() => {
  var empty = {text: "", don:0}
  if (!A.adventure.progress) return false
  else return A.adventure.progress.quests[quest.value.id]
})

const last_log = computed(() => {
  var empty = { data: {}}
  if (!progress.value) return empty
  // Si c'est une quête multiple, on retourne le dernier log pas terminé
  if (quest.value.data.multiple)
    return progress.value.logs.filter(l => !l.done).at(-1) || empty
  // Sinon on retourne le dernier log
  else return progress.value.logs.at(-1) || empty
})

const has_edits = computed(() => {
  if (quest.value.type == 'text') return input.value.text != (last_log.value.data.text || "")
  if (quest.value.type == 'don') return input.value.don  != last_log.value.data.don
  return false
})

watch(progress, () => {
  var p = last_log.value.data || {}
  input.value.text = p.text || input.value.text
  input.value.don = p.don || input.value.don
})

watch(() => A.adventure.progress, () => expanded.value =
  !quest.value.side ?
    progress.value.next :
    progress.value.done ? false : expanded.value)

const quest_warning = computed(() => {
  if (quest.value.type == 'text' && input.value.text.length < quest.value.data.txt_min_size)
    return `Écris au moins ${quest.value.data.txt_min_size} charactères.`
  else if (quest.value.type == 'don' && !input.value.don > 0)
    return "Entres le montant de ton don si tu veux valider la quête"
  else return null
})


// EDITING
const editing_quest = ref({})
const tab = ref("view")

watch(editing, (val) => {
  if(val) {
    editing_quest.value = _.cloneDeep(the_quest.value)
    editing_quest.value.data.epic = editing_quest.value.data.epic || false

    expanded.value = true
  }
  tab.value = val ? 'edit' : 'view'
  emit("editing", val)
})

const edit_has_changes = computed(() => {
  return !_.isEqual(editing_quest.value, the_quest.value)
})

const edit_save_changes = async () => {
  if (editing.value && edit_has_changes.value)
    await A.update_quest(editing_quest.value)
  editing.value = false
}

/*

  Log la quête comme terminée ou pas (status).
  Enregistre les données.

*/

const log_quest = async (status = true) => {
  // Enregistre les données
  var data = {}
  if (quest.value.type == 'text') data.text = input.value.text
  if (quest.value.type == 'don') data.don = input.value.don
  // return
  await A.log_quest(quest.value.id, data, status, last_log.value.id)
  if (status) shoot_confettis()
}

// CONFETTI

function stars() {
  var defaults = {
    spread: 360,
    ticks: 100,
    gravity: .4,
    decay: 0.9,
    startVelocity: 35,
    colors: ['FFE400', 'FFBD00', 'E89400', 'FFCA6C', 'FDFFB8']
  }
  confetti({
    ...defaults,
    particleCount: 40,
    scalar: 1.2,
    shapes: ['star']
  });

  confetti({
    ...defaults,
    particleCount: 30,
    scalar: 0.75,
  });
}

const confettis_side = () => {
  var end = Date.now() + (1 * 1000);
  var colors = ['#ffd400', '#00ffdd', '#d700d7'];

  (function frame() {
    confetti({
      particleCount: 3,
      angle: 60,
      spread: 55,
      origin: { x: 0 },
      colors: colors
    });
    confetti({
      particleCount: 3,
      angle: 120,
      spread: 55,
      origin: { x: 1 },
      colors: colors
    });

    if (Date.now() < end) {
      requestAnimationFrame(frame);
    }
  }());
}


const shoot_confettis = () => {
  var r = _.random(1) + 1
  console.log(r)

  if (r == 1) {
    // Stars
    setTimeout(stars, 0)
    setTimeout(stars, 100)
    setTimeout(stars, 300)
  }
  else if (r == 2)
    // Side
    confettis_side()
}

</script>
