<template>
  <q-avatar :size="size">
    <img :src="user.avatar_url" />
    <tool-tip>{{ user.full_name }}</tool-tip>
  </q-avatar>
</template>

<script setup>
import { useAdventuresStore } from "src/stores/adventures";
import {ref, computed} from "vue"
import _ from 'lodash'

const adventures = useAdventuresStore()

defineProps(["user", "size"])



</script>
