<template>
  <div class="ribbon"><span>{{ props.text }}</span></div>
</template>

<script setup>
import { computed } from 'vue'
import { getCssVar } from 'quasar'


const props = defineProps({
  text: String,
  color: String,
  textColor: String,
  left: String,
  right: String,
  width: {type: Number, default: 120}
})

const color = computed(() => getCssVar(props.color || "") || props.color || "#d700d7")
const text_color = computed(() => getCssVar(props.textColor || "") || props.textColor || "#f1e9da")
const width = computed(() => props.width + "px")
const top = computed(() => "-14px")
const right = computed(() => -14 + -(props.width) * (1-0.707106781187) + "px")
const rotation = computed(() => "45deg")

</script>

<style lang="scss" scoped>

.ribbon {
   position: absolute;
   right: -5px; top: -5px;
   z-index: 1;
   width: 100%; height: 100%;
   text-align: right;
   overflow: hidden;
}
.ribbon span {
   font-size: 12px;
   color: v-bind(text_color);
   text-transform: uppercase;
   text-align: center;
   font-weight: bold; line-height: 22px;
   transform: rotate(v-bind(rotation));
   transform-origin: top left;
   -webkit-transform: rotate(v-bind(rotation)); /* Needed for Safari */
   -webkit-transform-origin: top left;
   width: v-bind(width); display: block;
   background: v-bind(color);
   background: linear-gradient(v-bind(color) 0%, v-bind(color) 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: v-bind(top); right: v-bind(right);
}

.ribbon span::before {
   content: '';
   position: absolute;
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid v-bind(color);
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid v-bind(color);
}
.ribbon span::after {
   content: '';
   position: absolute;
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid v-bind(color);
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid v-bind(color);
}

</style>
