<template>
  <q-chip dense :style="chip_style" class="q-pl-none q-pr-sm text-caption">
    <q-chip dense class="q-ml-none q-mr-sm text-caption" :color="badge_color" :text-color="badge_text_color">
      <span>{{ props.value }}</span>
      <span v-if="props.max">&nbsp;/&nbsp;{{ props.max }}</span>

    </q-chip>
    <span>{{ props.caption }}</span>
    <span class="q-ml-xs" v-if="percentage"> ({{ (props.value / props.max * 100).toFixed() }}%)</span>
  </q-chip>
</template>

<script setup>
import { computed } from 'vue'
import { colors } from 'quasar'
const { lighten, getPaletteColor } = colors

const props = defineProps({
  value: Number,
  max: Number,
  left: { type: Boolean, default: true},
  right: { type: Boolean, default: false},
  caption: String,
  percentage: Boolean,
  color: {type: String, default: 'primary'},
  textColor: {type: String, default: 'light'},
  badgeTextColor: {type: String, default: 'dark'},
})

const darken = (color) => lighten(getPaletteColor(color), -60)

const done = computed(() => props.value >= props.max)
const badge_color = computed(() => props.color)
const badge_text_color = computed(() => props.badgeTextColor)
const chip_style = computed(() => ({
  "background-color": darken(props.color),
  "color": props.textColor
}))

</script>

