<template>
  <q-tooltip :class="classes">
    <slot></slot>
  </q-tooltip>
</template>

<script setup>
import { computed } from 'vue'
import { colors } from 'quasar'
const { lighten, getPaletteColor } = colors

const props = defineProps(["bg", "color", "textClass"])

const classes = computed(() => {
  var c = []
  c.push(props.bg || "bg-accent")
  c.push(props.color || "text-white")
  c.push(props.textClass || "text-body2")
  return c
})

</script>

