<template>
  <div class="flag">
    <p class="xp q-ma-none text-h4">{{ props.xp }}</p>
    <p class="caption text-caption">{{ caption }}</p>
  </div>
</template>

<script setup>
import { computed } from 'vue'
import { colors } from 'quasar'

const palette = (v) => v[0] == "#" ? v : colors.getPaletteColor(v)

const props = defineProps({
  xp: Number,
  color: String,
  done: Boolean,
  left: String,
  right: String,
  textColor: String,
  caption: String
})

const left = computed(() => props.right ? "unset" : props.left)
const right = computed(() => props.right || "50px")
const shield_color = computed(() => props.color ? palette(props.color) : (props.done? "#d700d7" : "grey"))
const text_color = computed(() => props.textColor ? palette(props.textColor) : "white" )
const caption = computed(() => props.caption || "XP")

</script>

<style lang="scss" scoped>

.flag {
  width: 80px;
  height: 40px;
  left: v-bind(left);
  right: v-bind(right);
  top: -5px;
  z-index: 1;
  position: absolute;
  box-sizing: content-box;
  padding-top: 15px;
  background: v-bind(shield_color);
  color: v-bind(text_color);
  font-size: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, .5));

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -24px;
    width: 0;
    height: 0;
    border-bottom: 25px solid transparent;
    border-left: 40px solid v-bind(shield_color);
    border-right: 40px solid v-bind(shield_color);
  }

  .xp { line-height: 20px}
  .caption { line-height: 25px;}
}
</style>
