<template>
  <router-view />
</template>

<script setup>

import { SB } from "./db"
import { useAuthStore } from './stores/auth'
const auth = useAuthStore()

// SB.auth.getSession().then(({ data }) => {
//   console.log("AUTH?", data)
//   auth.session = data.session
//   console.log(data)
// })

// Auth from https://towardsdev.com/vue-3-pinia-supabase-auth-email-1228f5f8502e
// listen for auth events (e.g. sign in, sign out, refresh)
// set session based on the auth event
SB.auth.onAuthStateChange((event, session) => {
  console.log("Auth change:", event)
  auth.session = session
})

const get_adventures_by_tags = async () => {

  const { data, error } = await SB
  .from('lu_adventures')
  .select('*')
  .contains('data->tags', '["D"]' )

  console.log(data, error)
}

</script>
