<template>
  <q-layout view="hhh lpR fFf">

    <q-header reveal class="bg-primary text-dark">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
          </q-avatar>
          <q-btn to="/" flat>LevelUP</q-btn>
        </q-toolbar-title>
        <q-btn flat label="Les aventures" to="/aventures"/>
        <!-- Login button -->
        <q-btn v-if="!auth.logged" color="discord" text-color="cream" label="Log in" icon="discord"
            @click="auth.signInWithDiscord()"/>
        <!-- Avatar -->
        <q-avatar v-if="auth.logged && !drawer_open">
          <q-img :src="auth.user.user_metadata.avatar_url" />
        </q-avatar>
        <!-- Menu button -->
        <q-btn v-if="auth.logged" flat round @click="drawer_open = !drawer_open" icon="menu" />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="drawer_open" side="right" bordered overlay behavior="mobile">
      <q-scroll-area class="fit row" v-if="auth.logged && A.user_info && A.user_info.data">
        <div class="q-pa-md bg-accent text-cream row items-end">
          <!-- XP Flag -->
          <xp-flag left="50px" :xp="A.user_info.data.xp" color="secondary" text-color="dark" />
          <div class="col text-right ">
            <!-- Avatar -->
            <q-avatar size="56px" class="q-mb-sm">
              <img :src="auth.user.user_metadata.avatar_url">
            </q-avatar>
            <div class="text-weight-bold">{{ auth.name }}</div>
            <div class="text-caption">Niveau {{ A.user_info.data.level }}</div>
          </div>
        </div>
        <!-- Niveau: bar de progrès -->
        <div class="col-12 q-pa-md row" v-if="A.user_info.data.level" >
          <span class="text-overline col-12 text-center">Prochain niveau</span>
          <q-linear-progress class="" size="10px" :value="A.user_info.data.level_xp / A.user_info.data.level_next"/>
          <span class="text-caption">{{ A.user_info.data.level_xp }} XP</span>
          <q-space />
          <span class="text-caption">{{ A.user_info.data.level_next }} XP</span>
        </div>
        <!-- Liste des raccourcis -->
        <q-list class="col-12" separator>
          <q-item dense class="text-caption q-mt-md">
            Raccourcis
          </q-item>
          <q-item clickable :to="{name: 'UserPage'}">
            <q-item-section avatar>
              <q-icon name="dashboard"/>
            </q-item-section>
            <q-item-section>
              <q-item-label>Dashboard</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable :to="{name: 'AdminAdventures'}" v-if="auth.admin" >
            <q-item-section avatar>
              <q-icon name="shield"/>
            </q-item-section>
            <q-item-section>
              <q-item-label>Admin</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable @click="SB.auth.signOut()" class="text-grey" >
            <q-item-section avatar>
              <q-icon name="logout"/>
            </q-item-section>
            <q-item-section>
              <q-item-label>Déconnection</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
        <q-list class="col-12 q-mt-md" separator>
        <!-- Liste des aventures en cours -->
          <q-item dense class="text-caption q-mt-md">
            Mes aventures en cours
          </q-item>
          <adventure-item v-for="a in A.adventures_in_progress" :key="a.id" :id="a"
          :show-chips="false"/>
        </q-list>
      </q-scroll-area>
    </q-drawer>
    <q-page-container :style="style">
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script setup>
import { useQuasar, useMeta } from 'quasar'
import {useAuthStore} from 'stores/auth'
import { useAdventuresStore } from 'stores/adventures'
import { SB } from '../db'
import { ref, computed } from 'vue'
import { watch } from 'vue'
import { useRoute } from 'vue-router'

const auth = useAuthStore()
const $q = useQuasar()
const A = useAdventuresStore()
const route = useRoute()

const drawer_open = ref(false)

const current_url = computed(() => window.location.href)

watch(() => auth.logged, v => {
  // En cas de déconnection, on ferme le drawer
  if (!v) drawer_open.value = false
})

const style = computed(() => {
  if (route.name == "Home") return {}
  else return {
    "max-width": "960px",
    "margin": "auto"
  }
})

/*
  META

  For prerendering on netlify, see https://answers.netlify.com/t/support-guide-understanding-and-debugging-prerendering/150

  Test with:

  > curl -A twitterbot https://levelup.open-source.church
*/
useMeta(() => ({
  // Title
  title: "LevelUp!",
  titleTemplate: title => title != "LevelUp!" ? `${title} - LevelUp!` : title,
  // Meta
  meta: {
    description: { name: 'description', content: "L'académie de (trans)formation des aventuriers et aventurières ordinaires." },
    keywords: { name: 'keywords', content: 'LevelUP, Open Source Church'},
    ogImage: {
      property: "og:image",
      content: "https://www.davidrevoy.com/data/images/blog/2023/2023-05-22_geek-faeries-2023.jpg",
    },
    ogTitle: {
      property: "og:title",
      content: "LevelUp!",
      template: title => (title != "LevelUp!" ? `${title} - LevelUp!` : title),
    },
  }}
))
</script>
